if ( $("#settingsModalBody").hasClass( "unloaded" ) ) {
	$("#settingsModalBody").append('<%= escape_javascript(render "settings") %>').removeClass("unloaded");

	$(".btn-group").on( 'click', 'a', function() {
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
	});

	var uploadPhoto = new Dropzone(".dropzone", {
			maxFilesize: 10,
			paramName: "user[avatar]",
			maxFiles: 1,
			thumbnailWidth: 190,
			thumbnailHeight: 190,
	});

	uploadPhoto.on("success", function(file) {
		$(".dropzone").prepend("<div class='success-msg'><h3>Looking Good!</h3><p>Here's your new profile photo. Happy with it?</p><%= escape_javascript(link_to 'Return to Profile', root_path, class: 'btn btn-primary') %><p>Want to try again?</p><a id='retry' class='btn btn-default'>Upload Another</a>");

		$(".dropzone").on( 'click', '#retry', function() {
			$('.success-msg').remove();
		 	uploadPhoto.enable();
			uploadPhoto.removeAllFiles();
		});
  });

	$("a.accept").click(function(e) {
		row = $(this).parent()
		row.children('.request').remove()
		row.prepend('<p class="request-response">Friend added.<p>')
  });

  $("a.decline").click(function(e) {
		row = $(this).parent()
		row.children('.request').remove()
		row.prepend('<p class="request-response">Request denied.<p>')
  });
}

$('#settings-nav a[href="#<%= escape_javascript(@tab) %>"]').tab('show');