<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      a, p {
        font-family: Avenir, sans-serif;
        font-size: 15px;
      }

      a {
        color: #000cac;
        text-decoration:none;
      }
    </style>
  </head>

  <body>
    <p>Hey! You have a tip! <%= @link %></p>
  </body>
</html>