<div id="boxes">
	<img src="/assets/boxes-left.jpg">
	<div class="head">
		<img src="/assets/logotype.png" alt="Tipster">
		<h3>Share cool stuff with friends.</h3>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary" %>
		<p>Already a member? <%= link_to "Log In", new_user_session_path %></p>
	</div>
	<img src="/assets/boxes-right.jpg">
</div>

<%= link_to "Log Out", destroy_user_session_path, method: :delete if user_signed_in? %>