<div id="boxes">
	<img src="/assets/boxes-left.jpg">
	<div class="head">
		<img src="/assets/logotype.png" alt="Tipster">
		<h3>Share cool stuff with friends.</h3>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary" %>
	</div>
	<img src="/assets/boxes-right.jpg">
</div>