<div id="boxes-container">
	<img src="/assets/boxes-left.jpg" class="boxes">
	<div class="head">
		<img src="/assets/logotype.png" alt="Tipster">
		<h2>Share cool stuff with friends.</h2>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary" %>
		<p>Already a member? <%= link_to "Log In", new_user_session_path %></p>
	</div>
	<img src="/assets/boxes-right.jpg" class="boxes">
</div>