<div id="inbox-sidebar" class="sidebar">
	<h1>Inbox</h1>
</div>

<div id="inbox-content" class="js-isotope content" data-isotope-options='{ "layoutMode": "masonryHorizontal", "itemSelector": ".tip", "rowHeight": 240, "gutter": 10 }'>
	<%= render "/tips/tips" %>
</div>