<div id="app-sidebar">
	<h1>Inbox</h1>
</div>

<div id="app-body" class="js-isotope" data-isotope-options='{ "layoutMode": "masonryHorizontal", "itemSelector": ".tip", "rowHeight": 240, "gutter": 10 }'>
	<%= render "/tips/tips" %>
</div>