<div class="modal fade" id="viewFriends" tabindex="-1" role="dialog" aria-labelledby="viewFriendsLabel" aria-hidden="true">
  <div class="modal-dialog friends-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="viewFriendsLabel">
        	<% if @user == current_user %>
        	My Friends
					<% else %>
        	<%= @user.full_name %>'s Friends
        	<% end %>
        </h4>
      </div>
			<div class="modal-body">
				<% @user.friends.each do |f| %>
					<%= link_to profile_path(f), class: "friend-thumb" do %>
						<%= image_tag f.avatar.url(:thumb) %>
					<% end %>
				<% end %>

				<% if current_user == @user %>
					<div><%= link_to "Manage Friends", settings_path(tab: "friends"), remote: true, data: { toggle: "modal", target: "#settings", dismiss: "modal" }, class: "manage btn btn-primary" %></div>
				<% end %>
			</div>
			<div class="modal-footer">
			</div>
    </div>
  </div>
</div>