<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settingsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="settingsLabel">Settings</h4>
      </div>
			<div id="settingsModalBody" class="modal-body unloaded">
			</div>
			<div class="modal-footer">
			</div>
    </div>
  </div>
</div>