$body-bg: #f4f4f4;
$font-family-sans-serif: 'Muli', sans-serif;
$navbar-height: 60px;
$navbar-default-bg: white;
$brand-primary: #ff6600;
$link-color: #000cac;
$btn-success-bg: #2e8300;

body, html {
  height: 100%;
}

body {
	margin-bottom: 70px;
}

.navbar .logo {
	margin: 16px 10px 0 0;
}

.navbar .thumb {
	padding: 15px 0 5px;
}

.dropdown .navbar-toggle {
	display: initial;
	margin-top: -7px;
}

.profile-sidebar {
	width: 320px;
	height: 100%;
	float: left;
	background-color: #f0f0f0;
	border-right: 1px solid white;
	padding: 50px 50px 0;
	text-align: center;
}

.profile-sidebar .field {
	margin-bottom: 5px;
}

.profile-body {

}

.spacer {
	height: 70px;
}

.avatar {
	border: 4px solid white;
}

@import 'bootstrap';