$body-bg: #f4f4f4;
$font-family-sans-serif: 'Muli', sans-serif;
$navbar-height: 60px;
$navbar-default-bg: white;
$brand-primary: #ff6600;
$link-color: #000cac;
$btn-success-bg: #2e8300;
$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h3: 16px;

body, html {
  height: 100%;
}

body {
	margin-bottom: 70px;
}



.navbar .logo {
	margin: 16px 10px 0 0;
}

.navbar .thumb {
	padding: 15px 0 5px;
}

.dropdown .navbar-toggle {
	display: initial;
	margin-top: -7px;
}

.alert {
	margin: 0 5px 0 325px;
}



.sidebar {
	background-color: #f0f0f0;
	border-right: 1px solid white;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

#profile-sidebar {
	width: 320px;
	padding: 50px 50px 0;
}

	.avatar {
		border: 4px solid white;
	}

	.app-sidebar .field {
		margin-bottom: 5px;
	}

	.spacer {
		height: 70px;
	}

#inbox-sidebar {
	width: 280px;
}



.content {
	padding: 20px 20px 70px;
	height: 100%;
}

#profile-content {
	margin: 0 0 0 320px;
}

	.tip {
		display: inline;
		margin: 10px;
		width: 450px;
	}

	.tip img {
		float: left;
	}

	.tip .count {
		font-size: 18px;
		color: #b5b5b5;
		font-family: 'Lato', sans-serif;
	}

	.tip .aro {
		position: absolute;
		top: 105px;
		left: 215px;
	}

	.box {
		width: 225px;
		height: 225px;
		padding: 20px;
		background-color: white;
		display: inline-block;
		float: left;
	}

	.box h3 {
		margin-top: 10px;
		height: 35px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.box p {
		height: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

#inbox-content {
	margin: 0 0 0 280px;
}

.wide {
	color: red;
}



@media (max-width: 767px) {
	.wide {display:none !important;}
}

@media (min-width: 767px) {
	.narrow {display:none !important;}
}




/* Temporary styles for testing, etc. */
#tips-index {height:100%;padding-bottom:70px}



@import 'bootstrap';