$btn-primary-bg: #2e8300;
$link-color: #000cac;
$font-family-sans-serif: 'Montserrat', sans-serif;

#boxes-container {
	width: 1448px;
  position:absolute;
  top:100px;
  left:50%;
  margin-left:-724px; /* half of the width */
  height:480px;
}

.boxes {
	float: left;
}

.head {
	display: inline-block;
	width: 480px;
	height: 480px;
	text-align: center;
	padding: 137px 0 0 0;
	float: left;
}

	.head img {
		display: block;
		margin: 0 auto;
	}

	.head h2 {
		font-size: 20px;
		margin-top: 12px;
	}

	.head .btn {
		border: none;
		padding: 10px 50px;
		margin: 25px 0 15px;
		font-size: 16px;
		color: white;
	}



.userforms-container {
	width: 960px;
	margin: 100px auto 0;
  height: 480px;
}

.userform {
	display: inline-block;
	width: 480px;
	height: 480px;
	text-align: center;
	padding: 11px 100px 5px;
	float: left;
}

	.userform .logotype {
		border-bottom: 1px solid #bcbcbc;
		padding: 0 20px 5px;
	}

	#front .userform h2 {
		font-weight: 400;
		margin: 8px 0 15px;
	}

	.userform p {
		font-size: 12px;
	}

	.userform .form-control {
		height: 40px;
		padding: 6px 16px 6px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.userform .btn {
		border: none;
		padding: 7px 30px;
		margin: 10px 0 0;
		font-size: 16px;
		color: white;
	}

	.userform-group {
		height: 50px
	}

	.google-signin {
		width: 216px;
		height: 42px;
		overflow: hidden;
		background: #ffffff url("/assets/gsi.png") no-repeat left top;
		margin: 0 auto;
	}

	.google-signin:hover { background-position: right -42px; }
	.google-signin:active { background-position: right -84px; }

	.google-signup {
		width: 216px;
		height: 42px;
		overflow: hidden;
		background: #ffffff url("/assets/gsu.png") no-repeat left top;
		margin: 0 auto;
	}

	.google-signup:hover { background: #ffffff url("/assets/gsu.png") no-repeat right -42px; }
	.google-signup:active { background: #ffffff url("/assets/gsu.png") no-repeat right -84px; }

	.or {
		margin: 20px auto 22px;
	}

.loginform {
	padding-top: 42px;
}

.boxes {
	float: left;
}

@media (max-height: 510px) {
	#boxes-container { top:0; }
}




@import 'bootstrap';

/* Bootstrap overrides */
.alert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 1px 1px 1px #eee;
	height: 50px;
	border: none;
	border-radius: 0;
	color: #333;
	z-index: 10;
	padding: 15px;
	margin: 0;
	text-align: center;
}