$btn-primary-bg: #ff6600;
$link-color: #000cac;
$font-family-sans-serif: 'Montserrat', sans-serif;

body {
	text-align: center;
	h1, h2, h3 {
		margin: 0;
	}
	h1 {
		margin: 0;
		font-size: 72px;
		letter-spacing: 0.1em;
	}
	.sign-up {
		padding: 8px 40px;
		font-size: 18px;
		border-radius: 10px;
		letter-spacing: 0.05em;
		margin:35px 0 15px;
	}
}


#head {
  background: image-url("front-bg1.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  .content {
  	position:absolute;
  	width: 100%;
  	text-align: center;
  	color: white;
  	height:260px;
  	margin-top: -130px;
  	.logo {
  		height: 100px;
  		margin-bottom: 10px;
  	}
  	p {
  		font-size: 12px;
  		a {
	  		color: #f00000;
	  	}
  	}
  }
}

.slide {
	padding: 110px 0;
	p {
		font-size: 18px;
		color: #666;
		margin: 5px 0 30px;
	}
	.demo {
		&.one {
			img {
				margin: 10px;
				&.demo-img {
					box-shadow: 0 0 2px #dedede;
				}
				&.aro {
					margin-top:10px;
				}
			}
		}
		&.two {
			img {
				display: block;
				margin: 10px auto;
			}
		}
		.demo-img {
			box-shadow: 0 0 2px #dedede;
		}
	}
	.btn {
		margin: 20px
	}
}

.divider {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
	&.one {
  	background: image-url("front-bg2.jpg") no-repeat center center fixed; 
	}
	&.two {
  	background: image-url("front-bg3.jpg") no-repeat center center fixed; 
	}
}

#foot {
	p {
		font-family: Helvetica, sans-serif;
		font-size: 10px;
	}
}



#userforms-container {
	width: 960px;
	margin: 100px auto 0;
  height: 480px;
	.userform {
		display: inline-block;
		width: 480px;
		height: 480px;
		text-align: center;
		padding: 11px 100px 5px;
		float: left;
		&.loginform { padding-top: 42px; }
		&.resetform { padding-top: 85px; }
		&.passform { padding-top: 82px; }
		.logotype {
			border-bottom: 1px solid #bcbcbc;
			padding: 0 20px 5px;
		}
		h2 {
			font-weight: 400;
			margin: 8px 0 15px;
		}
		p {
			font-size: 12px;
		}
		.form-control {
			height: 40px;
			padding: 6px 16px 6px;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		}
		.btn {
			border: none;
			padding: 7px 30px;
			margin: 10px 0 0;
			font-size: 16px;
			color: white;
		}
		.userform-group {
			height: 50px
		}
		.google-signin {
			width: 216px;
			height: 42px;
			overflow: hidden;
			background: #ffffff url("/assets/gsi.png") no-repeat left top;
			margin: 0 auto;
			&:hover { background-position: right -42px; }
			&:active { background-position: right -84px; }
		}
		.google-signup {
			width: 216px;
			height: 42px;
			overflow: hidden;
			background: #ffffff url("/assets/gsu.png") no-repeat left top;
			margin: 0 auto;
			&:hover { background: #ffffff url("/assets/gsu.png") no-repeat right -42px; }
			&:active { background: #ffffff url("/assets/gsu.png") no-repeat right -84px; }
		}
		.or {
			margin: 20px auto 22px;
		}
	}
}


/* Mobile Styles*/
@media (max-width: 931px) {
	#head {
		height: 500px;
	  .content {height:200px;margin-top: -100px;
	  	.logo {height: 60px;margin-bottom: 10px;}
	  	h2 {font-size: 24px;}
	  	.sign-up {font-size: 16px;border-radius: 6px;letter-spacing: 0.05em;margin: 25px 0 10px;padding: 6px 30px;}
	  	p {font-size: 11px; }
	  }
	}

	.slide {padding: 80px 0;max-width: 80%;margin: 0 auto;
		h3 { font-size: 18px; }
		p { font-size: 14px; margin: 5px 0 20px }
		.demo {
			img { max-width: 100%;
				&.wide { display: none; }
			}
		}
	}

	.divider { height: 300px; 
		&.one {background: image-url("front-bg2m.jpg") no-repeat center center; }
		&.two {background: image-url("front-bg3m.jpg") no-repeat center center; }
	}

	#userforms-container {width:100%;margin:-240px 0 0 0;left:0;position:absolute;top:50%;text-align:center;
		.userform {max-width:80%;padding-left:0;padding-right:0;float:none;
			.google-signin {background: #ffffff url("/assets/gsi-m.png") no-repeat left top;;background-size: 100% auto;}
			.google-signup {background: #ffffff url("/assets/gsu-m.png") no-repeat left top;;background-size: 100% auto;}
		}
	}
	.boxes {display:none;}
}



@import 'bootstrap';

/* Bootstrap overrides */
.alert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 1px 1px 1px #eee;
	height: 50px;
	border: none;
	border-radius: 0;
	color: #333;
	z-index: 10;
	padding: 15px;
	margin: 0;
	text-align: center;
}