$font-family-sans-serif: 'Montserrat', sans-serif;
$navbar-height: 60px;
$navbar-default-bg: white;
$brand-primary: #ff6600;
$link-color: #000cac;
$btn-success-bg: #2e8300;
$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 30px;
$font-size-h4: 18px;
$navbar-default-border: none;
$body-bg: #fbfbfb;

body, html {
  height: 100%;
}

body {
	margin-bottom: 70px;
}


.navbar {
	.logo {
		margin: 16px 10px 0 0;
		width: 114px;
	}
	.thumb {
		padding: 15px 0 5px;
	}
	.thumb img {
		border-radius: 3px;
	}
	.dropdown .navbar-toggle {
		display: initial;
		margin-top: -7px;
	}
	.nav-alert {
		margin: 0 5px 0 0;
		padding: 20px 15px;
		color: #777;
		&:focus {
		  outline-width: 0;
		}
		a {
			text-decoration: none;
			color: #777;
			&:hover {
				color: #333;
			}
		}
		.glyphicon {
			top: 2px;
			margin-right: 3px;
		}
	}
}



#page {
	padding: 25px 30px 60px;
	height: 100%;
	#stamp {
		position: absolute;
		top: 25px;
		left: 30px;
		width: 690px;
		height: 260px;
		margin: 10px;
		#profile {
			font-size: 24px;
			color: #282828;
			height: 190px;
			margin: 0 110px 35px 0;
			float: left;
			width: 590px;
			h1 {
				margin: 10px 0 3px 0;
			}
			h2 {
				color: #111
			}
			p {
				font-size: 14px;
			}
			.avatar {
				float: left;
				margin: 0 20px 0 0;
				border: 3px solid white;
			}
			.upload-link:hover {
				img {
					border-color: #eee;
				}
			}
			.nofriends {
				margin: 10px 0 0;
			}
			.addfriend {
				margin: 10px 0 0 0;
			}
			.counts {
				margin: 5px 0 0 -3px;
				.btn {
					font-size: 20px;
					padding: 8px 20px;
					line-height: 0.7;
					border-color: #eee;
					&.active {
						background-color: #fdfdfd;
						border-color: #eee;
					}
					&:hover {
						background-color: #ededed;
						border-color: #ddd;
					}
				}
				.count-label {
					font-size: 12px;
					color: #444;
				}
			}
		}
	}
	.tip {
		display: inline;
		margin: 10px 110px 10px 10px;
		box-shadow: 1px 1px 1px #eee;
		width: 590px;
		height: 130px;
		background-color: white;
		a.tip-image {
			float: left;
			position: relative;
			z-index: 10;
		}
		img {
			width: 130px;
		}
		.box {
			padding: 15px 25px 15px 155px;
			display: inline-block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 130px;
			h3 {
				text-overflow: ellipsis;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				margin: 0 0 3px;
				color: #000cac;
				a:hover {
					text-decoration:none;
					color: #000cac;
				}
			}
			p {
				font-size: 16px;
				height: 42px;
				overflow: hidden;
				color: #111;
				margin: 0 0 3px 0;
			}
			.glyphicon {
				font-size: 14px;
				color: #b5b5b5;
				top: 3px;
			}
			.count {
				font-size: 18px;
				color: black;
				vertical-align: middle;
				margin-right: 4px;
				cursor: default;
			}
			img.origin {
				width: 19px;
				margin: 1px 5px 3px 2px;
				border-radius: 2px;
			}
			img.discovery {
				width: 17px;
				margin: 1px 6px 3px 1px;
			}
		}
	}

	#sendTip {
		.field {
			margin: -23px 0 7px
		}
		p {
			padding: 0 3px
		}
		.tipbutton {
			margin-top: 5px
		}
	}
}


// Shared styles
.btn-file {
  position: relative;
  overflow: hidden;
	input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}


// Temporary styles
.alpha-msg {width:500px;}



// Smaller screens
@media (max-width: 767px) {
	.wide {display:none !important;}

	#page {margin:20px 20px 60px;padding:0;
		#stamp {position:relative;top:0;left:0;width:100%;height:auto;margin:0;padding:20px 0;text-align:center;
			#profile {margin-bottom:0;height:auto;font-size:16px;width:100%;float:none;
				.avatar {max-width:150px;height:150px;float:none;margin:0;}
				h1 {font-size:30px}
				.counts .btn {padding:8px 13px;}
				.count-label {font-size:12px}
			}
			.filters {width:200px}
		}
		.tip {display:block;margin: 10px auto;width:100%;max-width:590px;position:relative;
			.box {padding:17px 20px 17px 150px;
				h3 {font-size:18px;}
				p {font-size:12px;height:50px;}
				.count {font-size:15px;}
				img.discovery {width:15px;margin-top:3px}
				img.origin {width:17px;margin-top:3px}
				.glyphicon {top:3px;}
			}
		}
		.spacer.narrow {height: 60px;}
	}


	// Temporary styles
	.alpha-msg {width:500px;max-width:90%;text-align:left;margin:25px auto 0;}
}

// Exclusively on larger screens
@media (min-width: 768px) {
	.narrow {display:none !important;}
}






@import 'bootstrap';

// Bootstrap overrides
.alert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 1px 2px #eee;
	min-height: 50px;
	border: none;
	border-radius: 0;
	color: #333;
	z-index: 50;
	padding: 14px;
	margin: 0;
	text-align: center;
	font-size: 16px;
}

.tooltip-inner {
	background-color: white;
	color: black;
}

.tooltip.right {
	.tooltip-arrow {
		border-right-color: white;
	}
	.tooltip-inner {
		max-width: 500px !important;
		padding: 3px 0;
	}
}

.tooltip.top {
	.tooltip-arrow {
		border-top-color: white;
	}
	.tooltip-inner {
		padding: 3px 5px;
	}
}