// General

.modal-body {
	background-color: #fbfbfb;
}



// Settings

.tab-pane {
	padding: 10px 10px 0;
}

.tab-pane .btn-default {
	float: right;
	margin: 6px 15px;
}

.tab-pane .btn-primary {
	float: right;
	margin-top: 30px;
}

.settings-tabs {
	border: none;
	text-align: center;
}

.settings-tabs li a {
	color: #333;
	padding: 8px 10px;
}

.settings-tabs li.active a, .nav-tabs li.active a:hover {
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 3px;
	color: #333;
}

.settings-tabs li a:hover {
	border: 1px solid transparent;
}

a.delete {
	font-size: 12px;
	color: #666;
	float: left;
	margin-top: 38px;
}

.edit-friend {
	background-color: white;
	margin-bottom: 2px;
}

span.name {
	margin-left: 15px
}