// Inbox

.inbox-page {
	h1 {
		margin: 5px 0;
	}
	h4 {
		margin: 20px 0 10px;
	}
	p {
		margin: 0 0 5px;
	}
	.glyphicon {
		top: 4px;
		left: 1px;
	}
	.filters {
		white-space: nowrap;
		margin: 0 0 10px;
		width: 590px;
		height: 30px;
		&.scroll {
			height: 40px;
			overflow: auto;
		}
		label.filter {
			padding: 5px 15px;
			margin: 0 3px;
			box-shadow: 1px 1px 1px #eee;
			display: inline-block;
			height: 28px;
			border:none;
			border-radius:none;
			float: none;
			margin: 0;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 28px;
			}
			&.active, &:active {
				box-shadow: none;
				background-color: white;
				color: #bbb;
			}
			&:hover {
				background-color: #eee;
			}
		}
		label.sender-filter {
			padding: 5px 10px 5px 38px;
			position: relative;
		}
	}
}

// Mobile Settings

#m-settings {
	padding: 10px 20px;
	.spacer {
		height: 60px;
	}
	.settings-section {
		margin: 20px 0 50px;
	}
	a.delete {
		font-size: 12px;
		color: #666;
		margin-top: 38px;
	}
	.success-msg {
		float:none;
		width: 100%;
		text-align: center;
	}
	.dz-preview {
		margin: 10px auto;
		display:block;
		width: 203px;
	}
	.dz-message {
	}
}