$font-family-sans-serif: 'Muli', sans-serif;
$font-size-h1: 24px;
$brand-primary: #ff6600;
$link-color: #000cac;

@import 'bootstrap';



/* Omni: Find Friends */
.container {
	padding: 5px;
	text-align: center;
}

.contact {
	padding: 3px 5px;
	border-top: 1px solid #ccc;
	width: 100%;
	text-align: left;
}

.contact p {
	margin: 2px 0 0;
	text-overflow: ellipsis;
	width: 340px;
	white-space: nowrap;
	overflow: hidden;
	color: #999;
	font-style: italic;
}

.contact .name {
	color: #333;
	font-style: normal;
}

.action {
	float: right;
}

.added {
	float: right;
	color: #999;
	margin-top: 2px;
}

h1 {
	margin-top: 10px;
}

a.btn {
	height: 21px;
	padding: 0 12px;
}



/* API Login */

#api-login {
	font-family: 'Montserrat', sans-serif;
	width: 350px;
	margin: 100px auto 0;
	text-align: center;
}

input.btn {
	padding: 7px 30px;
	font-size: 16px;
	margin: 10px;
}

.form-control {
	height: 40px;
	padding: 6px 16px 6px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.userform-group {
	height: 50px
}





